/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. 
Его разметка также гарантирует работу своего скрипта.

*/

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  background-color: var(--theme-bgc-color);
  color: var(--accent-color);
  background-attachment: fixed;
  background-size: cover;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 2px,
      var(--gradient-line) 2px,
      var(--gradient-line) 4px
    ),
    repeating-linear-gradient(
      transparent 0px,
      transparent 2px,
      var(--gradient-line) 2px,
      var(--gradient-line) 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bgc-gradient-start) 0.01%,
      var(--bgc-gradient-end) 100%
    );
}

.header {
  margin: 100px auto;
  background-color: var(--theme-bgc-color);
  font-family: var(--accent-font), "PixelifySans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  border: 2px solid var(--accent-color);
  width: clamp(375px, 80%, 700px);
}

.theme-menu__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: clamp(7.5rem, 7.14797rem + 1.502vw, 8.5rem);
  gap: 20px;
}

.theme-menu__logo {
  font-size: var(--menu-logo-size);
  line-height: var(--menu-logo-size);
}

.theme-menu__title {
  font-size: var(--menu-title-size);
  line-height: var(--menu-title-size);
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  position: relative;
  padding-block-end: 22px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__item:has(:disabled)::before {
  content: "▶";
  position: absolute;
  width: 14px;
  height: 14px;
  margin-block-start: 1px;
  margin-inline-start: 7px;
  animation-name: vector;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

.theme-menu__item:has(:disabled) {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  margin-inline-start: 20px;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scale(0);
  transition: transform 0.3s;
  display: block;
}

.theme-menu__item:has(:focus-visible) .theme-menu__button::after {
  transform: scale(1);
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.content {
  margin: 0 auto;
  width: clamp(375px, 80%, 700px);
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  background-color: var(--theme-bgc-color);
}

.card-title {
  font-weight: var(--card-title-weight);
  font-size: 18px;
  line-height: 21.78px;
  padding: 4px 10px 6px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.card-image__wrap {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
}

.card-label {
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font), "PixelifySans", sans-serif;
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: -1px 0 var(--theme-bgc-color), 0 1px var(--theme-bgc-color),
    1px 0 var(--theme-bgc-color), 0 -1px var(--theme-bgc-color);
  z-index: 1;
  paint-order: stroke fill;
}

@supports (
  (text-stroke: 2px var(--theme-bgc-color)) or
    (-webkit-text-stroke: 2px var(--theme-bgc-color))
) {
  .card-label {
    -webkit-text-stroke: 2px var(--theme-bgc-color);
    text-stroke: 2px var(--theme-bgc-color);
    text-shadow: none;
  }
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-contrast {
  filter: contrast(60%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-grayscale {
  filter: grayscale(3);
}

.filter-saturate {
  filter: saturate(258%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-multiply {
  filter: sepia(1) invert(1) saturate(150%);
}

.card-text__wrap {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--card-text-weight);
}

.btn-reset {
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.button__wrapper {
  display: flex;
  align-self: flex-end;
  gap: 4px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  position: relative;
}

.card__icon-button {
  max-height: 38px;
  position: relative;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:has(:hover) .core {
  transition: fill 0.3s linear;
  fill: var(--accent-color);
}

.card__icon-button:has(:hover) .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--accent-color);
}

.card__icon-button:has(:active) .core {
  transition: fill 0.3s linear;
  fill: var(--sparks);
}

.card__icon-button:has(:active) .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--sparks);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--sparks);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--sparks);
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--sparks);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s 1;
}

.sparks {
  fill-opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.card__like-button {
  padding: 10.5px;
  min-width: 130px;
}

.button__style {
  background-color: var(--theme-bgc-color);
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__decoration::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  color: var(--mix-mode-color);
  font-family: var(--accent-font), "PixelifySans", sans-serif;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 15px 19px;
  margin: 50px auto 103px auto;
}

.box-shadow:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.floppy {
  mix-blend-mode: difference;
  fill: var(--mix-mode-color);
}

.btn-reset:focus {
  outline: none;
}

.modal {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 353px;
  border: 2px solid var(--accent-color);
  background-color: var(--theme-bgc-color);
  padding: 30px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

dialog:is([open]) {
  pointer-events: auto;
  opacity: 1;
}

.modal__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__svg {
  width: 39px;
  height: 39px;
  fill: var(--accent-color);
}

.modal__wrap svg {
  fill: var(--accent-color);
}

.modal__title {
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 21px;
  font-family: var(--accent-font), "PixelifySans", sans-serif;
  font-size: 14px;
}

.modal__button {
  text-transform: uppercase;
  width: 100%;
  padding: 12.5px;
}

.text-transform {
  text-transform: uppercase;
}

.button__decoration:hover::before {
  transform: scaleX(1);
}

@media (width <= 375px) {
  .card__like-button {
    padding: 8px;
  }
  .button-save {
    align-items: center;
    flex-direction: column;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .card-label {
    right: 13px;
  }

  .modal {
    max-width: 341px;
    bottom: calc(100vh - 87vh);
    padding: 30px 40px;
  }
}
