/* В этом файле будут храниться все значения переменных 
в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --card-text-weight: 400;
  --card-title-weight: 700;
  --theme-bgc-color: #fff;
  --accent-color: #000;
  --bgc-gradient-start: #e7e7e7;
  --bgc-gradient-end: #1a1a1a;
  --gradient-line: #d3d3d3;

  --menu-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --menu-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}
